@charset "utf-8";
@import "variaveis.scss";

// NAVBAR SUPERIOR
nav.navbar {
    overflow: hidden;
    padding: 40px 0 30px;

    @media(min-width: 1200px) {
        padding: 18px 0 13px;
    }

    //togle button
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        outline: none;

        @media(min-width: 1200px) {
            display: none;
        }

        svg {
            position: relative;
            left: 10px;
        }
    }

    .line {
        fill: none;
        stroke: black;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    //togle button end

    .navbar-nav {
        @media(max-width: 1199.9px) {
            padding-top: 60px;
        }
    }

    .nav-link {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 0 40px;

        @media(min-width: 1200px) {
            color: #425545;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            padding: 0;
            padding-left: 22px !important;
            padding-right: 22px !important;
        }
    }

    div.collapse {
        @media(min-width: 1200px) {
            gap: 100px;
        }

        @media(min-width: 1250px) {
            gap: 140px;
        }
    }

    div.contain-btn-right {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
        gap: 20px;

        @media(max-width: 1199.9px) {
            padding-bottom: 70px;
        }

        @media(min-width: 1200px) {
            flex-direction: row;
            gap: 30px;

            &::before {
                content: '';
                position: absolute;
                inset: -30px auto auto -50px;
                width: 3000px;
                height: 100px;
                background: #425545;
            }
        }

        @media(min-width: 1250px) {
            &::before {
                inset: -30px auto auto -70px;
            }
        }

        >li.nav-item {
            position: relative;
            z-index: 1;

            &:first-child {
                a.nav-link {
                    background: #fff;
                    border: 1.343px solid #BAC3B0;

                    @media(min-width: 1200px) {
                        border: 1px solid transparent;
                        background: none;
                    }
                }
            }

            &:last-child {
                a.nav-link {
                    background: rgba(186, 195, 176, 0.38);

                    @media(min-width: 1200px) {
                        border: 1px solid #DDD;
                        background: none;
                    }
                }
            }

            a.nav-link {
                display: flex;
                flex-wrap: nowrap;
                gap: 5px;
                justify-content: center;
                align-items: center;
                padding: 11px 25px;
                border-radius: 4.029px;

                @media(min-width: 1200px) {
                    padding: 8px 13px;
                    border-radius: 0;
                }

                div.ico {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        path {
                            fill: #425545;

                            @media(min-width: 1200px) {
                                fill: #fff;
                            }
                        }
                    }
                }

                >span {
                    display: block;
                    color: #425545;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    @media(min-width: 1200px) {
                        color: #FFF;
                        font-size: 10px;
                        letter-spacing: 0.8px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

//RODAPE
footer {
    background: #425545;
    padding: 85px 0 40px;

    @media (min-width: 768px) {
        padding: 60px 0 20px;
    }

    div.grid-pai-footer {
        display: flex;
        flex-direction: column;

        >div {
            &.top-footer {
                order: 2;
                padding-bottom: 65px;
                padding-top: 55px;
                border-top: 1px solid #57715B;

                @media (min-width: 768px) {
                    border-bottom: 1px solid #57715B;
                    border-top: 0;
                    padding-top: 0;
                }

                @media (min-width: 768px) {
                    padding-bottom: 50px;
                }

                @media (min-width: 768px) {
                    order: 1;
                }

                >div.grid-top-footer {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 15px;

                    @media (max-width: 753.9px) {
                        gap: 45px;
                    }

                    >div.item-footer-top {
                        @media (max-width: 753.9px) {
                            width: 100%;
                        }

                        span.titulo-item-footer {
                            display: block;
                            color: #BAC3B0;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: uppercase;
                            padding-bottom: 12px;
                        }

                        >div.contain-sub-itens {
                            display: flex;
                            flex-direction: column;
                            gap: 3px;

                            >a.sub-item {
                                display: block;
                                text-decoration: none;
                                color: #fff;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 26px;
                            }
                        }
                    }

                }
            }

            &.bottom-footer {
                order: 1;
                padding-bottom: 65px;

                @media (min-width: 768px) {
                    order: 2;
                    padding-top: 75px;
                }

                @media (min-width: 992px) {
                    padding-bottom: 35px;
                }

                div.grid-bottom-footer {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 40px;

                    @media (min-width: 992px) {
                        grid-template-columns: repeat(5, 1fr);
                        gap: 10px;
                    }

                    >div.item-bottom {

                        div.contain-svg-logo-footer {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            @media (min-width: 992px) {
                                justify-content: flex-start;
                            }
                        }

                        div.contain-endereco-footer {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;

                            @media (min-width: 992px) {
                                justify-content: flex-start;
                            }

                            span.endereco {
                                display: inline-block;
                                color: #fff;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                width: 100%;
                                max-width: 215px;

                                @media (min-width: 992px) {
                                    max-width: 140px;
                                }
                            }
                        }

                        div.contain-contato-footer {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            gap: 30px;

                            @media (min-width: 992px) {
                                justify-content: center;
                                align-items: flex-start;
                                gap: 13px;
                            }

                            span.fone-item {
                                display: block;
                                width: 100%;
                                color: #FFF;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                text-align: center;

                                @media (min-width: 992px) {
                                    font-size: 15px;
                                    text-align: left;
                                }

                                @media (min-width: 1200px) {
                                    font-size: 17px;
                                }
                            }
                        }

                        div.contain-email-footer {
                            display: flex;
                            justify-content: center;
                            height: 100%;

                            @media (min-width: 992px) {
                                justify-content: flex-start;
                                align-items: center;
                            }


                            span {
                                display: block;
                                color: #fff;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;

                                @media (min-width: 992px) {
                                    font-size: 14px;
                                }
                            }
                        }

                        div.contain-redes-sociais-footer {
                            height: 100%;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            align-items: center;
                            max-width: 165px;
                            margin: 0 auto;

                            @media (min-width: 992px) {
                                max-width: 100%;
                                justify-content: flex-end;
                                gap: 20px;
                            }

                            a {
                                text-decoration: none;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    div.contain-logo-h {
        display: flex;
        justify-content: center;

        @media(min-width: 992px) {
            justify-content: flex-end;
        }
    }
}

// HOME
section {
    &.home-banner {
        div.owl-carousel {
            position: relative;

            div.item {
                position: relative;
                display: flex;
                align-items: center;

                img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: 500px;
                    object-fit: cover;

                    @media (min-width: 1200px) {
                        height: auto;
                    }
                }

                div.contain-item {
                    position: absolute;
                    left: 30px;

                    @media (min-width: 1200px) {
                        width: 100%;
                        max-width: 1200px;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        padding-left: 130px;
                    }

                    >span {
                        display: block;
                        color: #fff;
                        font-style: normal;
                        line-height: normal;

                        &.bairro {
                            font-size: 16px;
                            font-weight: 700;
                            position: relative;
                            padding: 0 0 35px 20px;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: -10px;
                                width: 1px;
                                height: 40px;
                                background: #fff;
                            }
                        }

                        &.titulo {
                            font-size: 34px;
                            font-weight: 700;
                            padding-bottom: 35px;

                            @media (min-width: 576px) {
                                font-size: 52px;
                            }
                        }

                        &.desc {
                            font-size: 20px;
                            font-weight: 400;
                            width: 100%;
                            max-width: 355px;
                        }
                    }

                    div.contain-btn {
                        margin-top: 20px;

                        a.action-banner {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            text-decoration: none;

                            div.ico {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 15px;
                            }

                            span {
                                display: block;
                                color: #fff;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                letter-spacing: 2.4px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            .owl-dots {
                display: flex !important;
                flex-direction: row;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 10%;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                max-width: 1200px;
                padding: 0 30px;

                @media(min-width: 1200px) {
                    padding: 0;
                    flex-direction: column;
                    bottom: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    right: auto;
                    left: calc((100% - 1200px) / 2);
                    width: 30px;
                    padding-left: 30px;
                }

                @media(min-width: 1250px) {
                    padding-left: 0;
                }

                .owl-dot {
                    >span {
                        background: transparent;
                        border: 1px solid #fff;
                    }

                    &.active {
                        >span {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }

    &.home-institucional {
        padding-top: 100px;
        position: relative;

        @media(min-width: 1250px) {
            padding-top: 165px;
        }

        @media(min-width: 1660px) {
            background: #fff url('/website/img/home/bg-institucional-home.png') no-repeat left top;
        }

        .container-full-left {
            @media(max-width: 1249.9px) {
                padding: 0;
                max-width: 100%;

                div.grid {
                    >div {
                        &.grid-left {
                            max-width: 1200px;
                            padding-left: 30px;
                            padding-right: 30px;
                        }

                        &.grid-right {
                            button.video-modal {
                                width: 100%;

                                img {
                                    max-width: 100%;
                                    object-fit: cover;
                                    height: 350px;

                                    @media (max-width: 768px) {
                                        height: 260px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div.grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            @media(min-width: 1250px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media(min-width: 1500px) {
                grid-template-columns: 1fr 870px;
            }

            >div {
                &.grid-left {

                    @media(min-width: 1250px) {
                        padding-right: 50px;
                    }

                    div.contain-subtitulo {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 22px;

                        >div.ico {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            bottom: 3px;
                        }

                        span.subtitulo {
                            display: block;
                            color: #222;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 24.317px;
                            line-height: 24.317px;

                            @media(min-width: 1250px) {
                                font-size: 26.26px;
                                line-height: 26.26px;
                            }

                            .destaque {
                                display: inline;
                                font-weight: 600;
                            }
                        }
                    }

                    span.titulo {
                        display: block;
                        color: #000;
                        font-size: 34px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        width: 100%;
                        max-width: 500px;
                        padding-top: 35px;

                        @media(min-width: 1250px) {
                            padding-top: 40px;
                        }

                        .destaque {
                            font-weight: 400;
                        }
                    }

                    span.desc {
                        display: block;
                        color: #222;
                        font-family: Lato;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 27px;
                        padding-top: 25px;

                        @media(min-width: 1250px) {
                            font-size: 22px;
                            line-height: 33px;
                        }

                        .destaque {
                            display: inline;
                            font-weight: 700;
                        }
                    }

                    div.contain-btn {
                        display: flex;
                        justify-content: center;
                        margin-top: 35px;

                        @media(min-width: 1250px) {
                            justify-content: flex-start;
                        }

                        a {
                            display: inline-block;
                            padding: 16px 58px;
                            background: #425545;
                            color: #FFF;
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }

                &.grid-right {
                    margin-top: 40px;

                    @media(min-width: 1250px) {
                        margin-top: 0;
                        padding-left: 50px;
                    }

                    button.video-modal {
                        display: block;
                        margin: 0 auto;
                        border: none;
                        background: none;
                        padding: 0;
                        outline: none;
                        cursor: pointer;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: url('/website/img/global/play.svg') no-repeat center center;
                        }

                        img {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            max-width: 870px;
                        }
                    }
                }
            }
        }
    }

    &.home-empreendimentos {
        padding: 130px 0 100px;

        @media(min-width: 1200px) {
            padding: 160px 0 140px;
        }

        div.top {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 30px;

            @media(min-width: 1200px) {
                gap: 190px;
                flex-direction: row;
                padding-bottom: 40px;
            }

            span.titulo {
                display: block;
                color: #222;
                text-align: center;
                font-size: 28px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;

                @media(min-width: 1200px) {
                    font-size: 38px;
                    text-align: left;
                }
            }

            div.contain-btns {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                gap: 50px;

                @media (min-width: 1200px) {
                    justify-content: flex-start;
                }

                button {
                    display: flex;
                    flex-wrap: nowrap;
                    background: none;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    gap: 15px;

                    div.ico {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    span {
                        display: block;
                        color: #425545;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 29px;
                        letter-spacing: 2.6px;
                        text-transform: uppercase;

                        @media(min-width: 450px) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        #owl-carousel-2 {
            @media(min-width: 992px) {
                padding: 0 10px;
            }

            div.item {
                >div.card-home-inst {
                    position: relative;
                    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    overflow: hidden;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, .3);
                    }

                    >img {
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        object-fit: cover;
                    }

                    >div.contain-card {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        padding: 27px 27px 30px;
                        display: flex;
                        flex-direction: column;

                        >div {
                            display: flex;
                            flex-direction: column;

                            &.top-c-card {
                                height: 100%;
                                justify-content: flex-start;

                                >span {
                                    display: block;
                                    color: #fff;
                                    font-size: 14px;
                                    font-style: normal;
                                    line-height: normal;

                                    &.entrega {
                                        font-weight: 700;
                                    }

                                    &.bairro {
                                        font-weight: 400;
                                    }
                                }
                            }

                            &.bottom-c-card {
                                height: 100%;
                                justify-content: flex-end;

                                >span {
                                    display: block;
                                    color: #fff;
                                    font-style: normal;
                                    line-height: normal;

                                    &.titulo {
                                        font-size: 22px;
                                        font-weight: 600;
                                    }

                                    &.desc {
                                        font-size: 14px;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .owl-dots {
                display: block !important;
            }
        }
    }

    &.home-arena {
        padding-bottom: 100px;

        @media(min-width: 1200px) {
            padding-bottom: 140px;
        }

        div.grid-arena {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            @media(min-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            >div {
                &.left {
                    display: flex;
                    justify-content: center;
                    order: 2;

                    div.contain-img {
                        position: relative;
                        max-width: 615px;
                        padding-left: 40px;

                        @media(min-width: 768px) {
                            padding-left: 85px;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: url('/website/img/home/triangulo-arena.svg') no-repeat center center;
                            background-size: 80px 90px;
                            top: calc(50% + 10px);
                            transform: translateY(-50%);
                            width: 80px;
                            height: 90px;

                            @media(min-width: 768px) {
                                background-size: 160px 182.5px;
                                width: 160px;
                                height: 182.5px;
                                top: calc(50% + 20px);
                            }

                            @media(min-width: 992px) {
                                top: calc(50% - 20px);
                            }

                            @media(min-width: 1200px) {
                                top: calc(50% + 20px);
                            }
                        }

                        img.banner-arena {
                            display: block;
                            margin: 0 0 0 auto;
                            width: 100%;
                            max-width: 615px;
                            border-radius: 50px 0px;
                            height: 180px;
                            object-fit: cover;

                            @media(min-width: 450px) {
                                height: 200px;
                            }

                            @media (min-width: 576px) {
                                height: 240px;
                            }

                            @media(min-width: 768px) {
                                height: 320px;
                            }

                            @media(min-width: 992px) {
                                height: 300px;
                            }

                            @media(min-width: 1200px) {
                                height: 390px;
                            }
                        }
                    }
                }

                &.right {
                    padding-bottom: 55px;

                    @media(min-width: 1200px) {
                        order: 2;
                        padding-bottom: 0;
                        padding-left: 80px;
                    }

                    >span {
                        display: block;

                        &.subtitulo {
                            color: #425545;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            text-transform: uppercase;
                            padding-bottom: 20px;
                        }

                        &.titulo {
                            color: #000;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            text-transform: uppercase;
                            padding-bottom: 20px;

                            @media(min-width: 1200px) {
                                font-size: 30px;
                            }
                        }

                        &.desc {
                            color: #222;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30px;
                            padding-bottom: 50px;
                        }
                    }

                    >div.contain-btn {
                        >a.saiba-mais {
                            display: inline-block;
                            text-decoration: none;
                            padding: 16px 58px;
                            background: #425545;
                            color: #FFF;
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    &.home-acontece {
        background: #F9F9F8;
        padding: 40px 0 70px;

        @media (min-width: 850px) {
            padding: 70px 0 100px;
        }

        span.titulo {
            display: block;
            color: #222;
            text-align: center;
            font-size: 38px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-bottom: 25px;
        }

        div.grid-acontece {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding-bottom: 35px;

            @media (min-width: 850px) {
                grid-template-columns: repeat(3, 1fr);
                gap: 35px;
            }

            >div.item {
                >div.card-acontece {
                    width: 100%;
                    max-width: 375px;
                    cursor: pointer;

                    @media (max-width: 849.9px) {
                        margin: 0 auto;
                    }

                    >div {
                        &.top-img {
                            img {
                                display: block;
                                margin: 0 auto;
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        &.body-card {
                            background: #fff;
                            padding: 25px 33px 40px;
                            display: flex;
                            flex-direction: column;
                            gap: 30px;

                            >span {
                                display: block;
                                text-align: left;

                                &.categoria {
                                    color: #859175;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    text-transform: uppercase;
                                }

                                &.titulo-card {
                                    color: #222;
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: normal;
                                }
                            }

                            div.contain-btn {
                                a {
                                    display: flex;
                                    flex-wrap: nowrap;
                                    gap: 15px;

                                    span {
                                        display: block;
                                        color: #222;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                    }

                                    div.ico {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        position: relative;
                                        top: 1.5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div.contain-ver-todos {
            display: flex;
            justify-content: center;

            a.ver-todos {
                display: flex;
                flex-wrap: nowrap;
                background: none;
                text-decoration: none;
                gap: 15px;

                div.ico {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                span {
                    display: block;
                    color: #425545;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 29px;
                    letter-spacing: 2.6px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// NOTICIA
section {
    &.noticia-topo {
        padding: 40px 0 55px;

        @media (min-width: 768px) {
            padding: 85px 0 60px;
        }

        span {
            display: block;
            font-style: normal;
            line-height: normal;

            &.data-noticia {
                color: #5C8262;
                font-size: 11px;
                font-weight: 400;
                padding-bottom: 18px;
            }

            &.titulo-noticia {
                color: #333;
                font-size: 32px;
                font-weight: 500;
                padding-bottom: 30px;

                @media (min-width: 768px) {
                    font-size: 46px;
                }
            }
        }

        img.banner-noticia {
            display: block;
            margin: 0 auto 0 0;
            width: 100%;
            max-width: 1020px;
            object-fit: cover;
        }
    }

    &.noticia-desc {
        padding-bottom: 50px;

        article {
            >span {
                display: block;
                color: #3E3E3E;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 25.6px;
                padding-bottom: 20px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    &.noticia-imgs-grid {
        padding-bottom: 100px;

        @media (min-width: 768px) {
            padding-bottom: 40px;
        }

        div.grid-imgs {
            display: grid;
            justify-items: stretch;
            grid-template-columns: repeat(1, 1fr);
            gap: 25px;
            padding-bottom: 60px;

            @media (min-width: 650px) {
                grid-template-columns: repeat(3, 1fr);
                gap: 15px;
            }

            @media (min-width: 768px) {
                gap: 30px;
            }

            >img {
                display: block;
                width: 100%;
                margin: 0 auto;
                object-fit: cover;
                max-width: 320px;

                @media (min-width: 768px) {
                    max-width: 100%;
                }
            }
        }

        div.contain-btn-voltar {
            display: flex;
            justify-content: flex-start;

            >a.btn-voltar {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                gap: 8px;
                text-decoration: none;

                >div.ico {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                >span {
                    display: block;
                    color: #000;
                    font-size: 8px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.64px;
                    text-transform: uppercase;
                }
            }
        }
    }
}