$color_1: #fff;
$color_2: #F8F8FF;
$color_3: #343434;
$color_4: #000;
$color_5: #425545;
$color_7: #BAC3B0;
$color_8: #222;
$color_9: #859175;
$color_10: #3E3E3E;
$color_11: #5C8262;
$color_12: #7B7B7B;
$color_13: #333;
$font-family_1: "Lato", sans-serif;
$background-color_1: transparent;

@font-face {
    font-family: opensans;
    src: url("../fonts/opensans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    appearance: none;
    outline: none;
    font-family: $font-family_1 !important;
}

.container {
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 0 30px !important;
}

.container-full-right {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-full-left {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;

    &:hover {
        background: #555;
    }
}

div#videoModal {
    background: rgba(0, 0, 0, 0.7) !important;

    div.modal-dialog {
        max-width: 1200px;

        div.modal-content {
            background: none;
            border: 0;

            .modal-header {
                padding: 0 15px;
                border: 0;

                button {
                    cursor: pointer;
                    outline: none;
                }
            }

            .modal-body {
                border: none;
                padding: 0 15px;

                div.embed-container {
                    >iframe {
                        height: 280px;
                    }
                }
            }
        }
    }
}

.breadcrumb-banner {
    display: none;
    flex-wrap: nowrap;
    gap: 9px;
    padding-top: 12px;

    a {
        display: block;
        text-decoration: none !important;
        color: $color_1;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;

        &:hover {
            color: $color_2;
        }
    }

    div.ico-breadcrumb {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.breadcrumb-banner.dark {
    a {
        color: $color_3;
    }
}

//NAVBAR INTERNA EMPREENDIMENTO
.topnav {
    background: #fff;
    padding: 15px 0;

    .container {
        position: relative;
    }

    & a.nav-logo {
        background: none;
        border: none;
        outline: none;
        display: inline-block;
        float: left;
        text-decoration: none;
    }

    & #contain-ancoras {
        display: none;
    }

    &.responsive #contain-ancoras {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        z-index: 5;
        animation-name: bounceInRight;
        animation-duration: 1s;
        animation-fill-mode: both;
        width: 100%;
        max-width: 360px;
        padding: 40px 30px 70px;
        background: #fff;

        >div.contain-top-colapso {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding-bottom: 55px;

            >img {
                display: block;
                margin: 0 auto 0 0;
                object-fit: cover;
            }

            >a.btn-close-colapso {
                display: inline-block;
                text-decoration: none;
                position: relative;
                left: 15px;
            }
        }

        >a.ancora-center {
            display: block;
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 40px;
            text-decoration: none;
        }

        >a.ancora-bottom {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            gap: 5px;
            text-decoration: none;
            padding: 11px 25px;
            border-radius: 4.029px;

            &.top {
                margin-bottom: 20px;
                background: #fff;
                border: 1.343px solid #BAC3B0;
            }

            &.bottom {
                background: rgba(186, 195, 176, 0.38);
            }

            >div.ico {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            >span {
                display: block;
                color: #425545;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    & a.btn-colapso {
        float: right;
        display: block;
        text-decoration: none;
        height: 100%;
        position: relative;
        top: 10px;
    }

    .clear {
        clear: both;
    }
}

/* ANIMACAO */
@keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        transform: none;
    }
}

//FOOTER INTERNA EMPREENDIMENTO
footer.footer-empreendimento {
    padding: 55px 30px 50px;

    div.grid-footer-empreendimento {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @media(min-width: 768px) {
            flex-direction: row;
            gap: 85px;
        }

        >div {
            width: 100%;

            @media(min-width: 768px) {
                width: auto;
            }

            &.left-grid-empreendimento {
                >img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 135px;
                    object-fit: cover;
                }
            }

            &.right-grid-empreendimento {
                >div.contain-btn-redes-sociais {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    >a.btn-rede-social {
                        display: inline-block;
                        text-align: none;
                        outline: none;
                    }
                }
            }
        }
    }
}