$color_1: #fff;
$color_2: #F8F8FF;
$color_3: #343434;
$color_4: #000;
$color_5: #425545;
$color_7: #BAC3B0;
$color_8: #222;
$color_9: #859175;
$color_10: #3E3E3E;
$color_11: #5C8262;
$color_12: #7B7B7B;
$color_13: #333;
$font-family_1: "Lato", sans-serif;
$background-color_1: transparent;

@font-face {
    font-family: opensans;
    src: url("../fonts/opensans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    appearance: none;
    outline: none;
    font-family: $font-family_1 !important;
}

.container {
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 0 30px !important;
}

.container-full-right {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-full-left {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;

    &:hover {
        background: #555;
    }
}

div#videoModal {
    background: rgba(0, 0, 0, 0.7) !important;

    div.modal-dialog {
        max-width: 1200px;

        div.modal-content {
            background: none;

            .modal-header {
                padding: 0 15px;
                border: 0;

                button {
                    cursor: pointer;
                    outline: none;
                }
            }

            .modal-body {
                border: none;
                padding: 0 15px;

                div.embed-container {
                    >iframe {
                        height: 280px;
                    }
                }
            }
        }
    }
}

.breadcrumb-banner {
    display: none;
    flex-wrap: nowrap;
    gap: 9px;
    padding-top: 12px;

    a {
        display: block;
        text-decoration: none !important;
        color: $color_1;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;

        &:hover {
            color: $color_2;
        }
    }

    div.ico-breadcrumb {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.breadcrumb-banner.dark {
    a {
        color: $color_3;
    }
}