@font-face {
  font-family: opensans;
  src: url("../fonts/opensans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  appearance: none;
  outline: none;
  font-family: "Lato", sans-serif !important;
}

.container {
  width: 100%;
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0 30px !important;
}
@media (min-width: 1250px) {
  .container {
    padding: 0 !important;
  }
}

.container-full-left {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 1250px) {
  .container-full-left {
    max-width: calc(1200px + (100% - 1200px) / 2);
    margin: 0 0 0 auto;
    padding: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div#videoModal {
  background: rgba(0, 0, 0, 0.7) !important;
}
div#videoModal div.modal-dialog {
  max-width: 1200px;
}
div#videoModal div.modal-dialog div.modal-content {
  background: none;
}
div#videoModal div.modal-dialog div.modal-content .modal-header {
  padding: 0 15px;
  border: 0;
}
div#videoModal div.modal-dialog div.modal-content .modal-header button {
  cursor: pointer;
  outline: none;
}
div#videoModal div.modal-dialog div.modal-content .modal-body {
  border: none;
  padding: 0 15px;
}
div#videoModal div.modal-dialog div.modal-content .modal-body div.embed-container > iframe {
  height: 280px;
}
@media (min-width: 576px) {
  div#videoModal div.modal-dialog div.modal-content .modal-body div.embed-container > iframe {
    height: 350px;
  }
}
@media (min-width: 768px) {
  div#videoModal div.modal-dialog div.modal-content .modal-body div.embed-container > iframe {
    height: 400px;
  }
}
@media (min-width: 992px) {
  div#videoModal div.modal-dialog div.modal-content .modal-body div.embed-container > iframe {
    height: 420px;
  }
}
@media (min-width: 1200px) {
  div#videoModal div.modal-dialog div.modal-content .modal-body div.embed-container > iframe {
    height: 450px;
  }
}

nav {
  background: #fff;
  position: relative;
  width: 100%;
  padding: 30px 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
nav .container input:checked ~ ul {
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
nav ul {
  display: none;
}
nav ul li {
  cursor: pointer;
  transition: all 200ms ease;
  background: #fff;
}
nav ul li a {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (min-width: 1200px) {
  nav {
    padding: 20px 0 17px 0;
  }
  nav::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #425545;
    width: 40%;
    height: 100%;
  }
  nav .container {
    margin: 0 auto;
  }
  nav input,
  nav label {
    display: none;
  }
  nav ul {
    display: inline;
    display: flex;
    position: relative;
    z-index: 1;
    gap: 20px;
  }
  nav ul li {
    background: transparent;
  }
  nav ul li:nth-child(3) {
    margin-right: 30px;
  }
  nav ul li:nth-child(5) a.right-btn {
    border: 1px solid #DDD;
    padding: 0 13px;
  }
  nav ul li a {
    color: #425545;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    line-height: 30px;
  }
  nav ul li a.right-btn {
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
  }
  nav ul li a.right-btn div.ico {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.5px;
  }
  nav ul li a.right-btn span {
    display: block;
  }
}
@media (min-width: 1350px) {
  nav::after {
    width: 40%;
  }
  nav ul {
    gap: 30px;
  }
  nav ul li:nth-child(3) {
    margin-right: 80px;
  }
}
@media (min-width: 1550px) {
  nav::after {
    width: 42%;
  }
  nav ul {
    gap: 45px;
  }
  nav ul li:nth-child(3) {
    margin-right: 115px;
  }
}

footer {
  background: #425545;
  padding: 85px 0 40px;
}
@media (min-width: 768px) {
  footer {
    padding: 60px 0 20px;
  }
}
footer div.grid-pai-footer {
  display: flex;
  flex-direction: column;
}
footer div.grid-pai-footer > div.top-footer {
  order: 2;
  padding-bottom: 65px;
  padding-top: 55px;
  border-top: 1px solid #57715B;
}
@media (min-width: 768px) {
  footer div.grid-pai-footer > div.top-footer {
    border-bottom: 1px solid #57715B;
    border-top: 0;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  footer div.grid-pai-footer > div.top-footer {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  footer div.grid-pai-footer > div.top-footer {
    order: 1;
  }
}
footer div.grid-pai-footer > div.top-footer > div.grid-top-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
@media (max-width: 753.9px) {
  footer div.grid-pai-footer > div.top-footer > div.grid-top-footer {
    gap: 45px;
  }
}
@media (max-width: 753.9px) {
  footer div.grid-pai-footer > div.top-footer > div.grid-top-footer > div.item-footer-top {
    width: 100%;
  }
}
footer div.grid-pai-footer > div.top-footer > div.grid-top-footer > div.item-footer-top span.titulo-item-footer {
  display: block;
  color: #BAC3B0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 12px;
}
footer div.grid-pai-footer > div.top-footer > div.grid-top-footer > div.item-footer-top > div.contain-sub-itens {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
footer div.grid-pai-footer > div.top-footer > div.grid-top-footer > div.item-footer-top > div.contain-sub-itens > a.sub-item {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
footer div.grid-pai-footer > div.bottom-footer {
  order: 1;
  padding-bottom: 65px;
}
@media (min-width: 768px) {
  footer div.grid-pai-footer > div.bottom-footer {
    order: 2;
    padding-top: 75px;
  }
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer {
    padding-bottom: 35px;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-svg-logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-svg-logo-footer {
    justify-content: flex-start;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-endereco-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-endereco-footer {
    justify-content: flex-start;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-endereco-footer span.endereco {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 215px;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-endereco-footer span.endereco {
    max-width: 140px;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-contato-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-contato-footer {
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-contato-footer span.fone-item {
  display: block;
  width: 100%;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-contato-footer span.fone-item {
    font-size: 15px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-contato-footer span.fone-item {
    font-size: 17px;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-email-footer {
  display: flex;
  justify-content: center;
  height: 100%;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-email-footer {
    justify-content: flex-start;
    align-items: center;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-email-footer span {
  display: block;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-email-footer span {
    font-size: 14px;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-redes-sociais-footer {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 165px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-redes-sociais-footer {
    max-width: 100%;
    justify-content: flex-end;
    gap: 20px;
  }
}
footer div.grid-pai-footer > div.bottom-footer div.grid-bottom-footer > div.item-bottom div.contain-redes-sociais-footer a {
  text-decoration: none;
  display: inline-block;
}
footer div.contain-logo-h {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  footer div.contain-logo-h {
    justify-content: flex-end;
  }
}

section.home-banner div.owl-carousel {
  position: relative;
}
section.home-banner div.owl-carousel div.item {
  position: relative;
  display: flex;
  align-items: center;
}
section.home-banner div.owl-carousel div.item img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
@media (min-width: 1200px) {
  section.home-banner div.owl-carousel div.item img {
    height: auto;
  }
}
section.home-banner div.owl-carousel div.item div.contain-item {
  position: absolute;
  left: 30px;
}
@media (min-width: 1200px) {
  section.home-banner div.owl-carousel div.item div.contain-item {
    width: 100%;
    max-width: 1200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
  }
}
section.home-banner div.owl-carousel div.item div.contain-item > span {
  display: block;
  color: #fff;
  font-style: normal;
  line-height: normal;
}
section.home-banner div.owl-carousel div.item div.contain-item > span.bairro {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding: 0 0 35px 20px;
}
section.home-banner div.owl-carousel div.item div.contain-item > span.bairro::after {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 1px;
  height: 40px;
  background: #fff;
}
section.home-banner div.owl-carousel div.item div.contain-item > span.titulo {
  font-size: 34px;
  font-weight: 700;
  padding-bottom: 35px;
}
@media (min-width: 576px) {
  section.home-banner div.owl-carousel div.item div.contain-item > span.titulo {
    font-size: 52px;
  }
}
section.home-banner div.owl-carousel div.item div.contain-item > span.desc {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  max-width: 355px;
}
section.home-banner div.owl-carousel div.item div.contain-item div.contain-btn {
  margin-top: 20px;
}
section.home-banner div.owl-carousel div.item div.contain-item div.contain-btn a.action-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
section.home-banner div.owl-carousel div.item div.contain-item div.contain-btn a.action-banner div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
section.home-banner div.owl-carousel div.item div.contain-item div.contain-btn a.action-banner span {
  display: block;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
section.home-banner div.owl-carousel .owl-dots {
  display: flex !important;
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
}
@media (min-width: 1200px) {
  section.home-banner div.owl-carousel .owl-dots {
    padding: 0;
    flex-direction: column;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    left: calc((100% - 1200px) / 2);
    width: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1250px) {
  section.home-banner div.owl-carousel .owl-dots {
    padding-left: 0;
  }
}
section.home-banner div.owl-carousel .owl-dots .owl-dot > span {
  background: transparent;
  border: 1px solid #fff;
}
section.home-banner div.owl-carousel .owl-dots .owl-dot.active > span {
  background: #fff;
}
section.home-institucional {
  padding-top: 100px;
  position: relative;
}
@media (min-width: 1250px) {
  section.home-institucional {
    padding-top: 165px;
  }
}
@media (min-width: 1660px) {
  section.home-institucional {
    background: #fff url("/website/img/home/bg-institucional-home.png") no-repeat left top;
  }
}
@media (max-width: 1249.9px) {
  section.home-institucional .container-full-left {
    padding: 0;
    max-width: 100%;
  }
  section.home-institucional .container-full-left div.grid > div.grid-left {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
  }
  section.home-institucional .container-full-left div.grid > div.grid-right button.video-modal {
    width: 100%;
  }
  section.home-institucional .container-full-left div.grid > div.grid-right button.video-modal img {
    max-width: 100%;
    object-fit: cover;
    height: 350px;
  }
}
@media (max-width: 1249.9px) and (max-width: 768px) {
  section.home-institucional .container-full-left div.grid > div.grid-right button.video-modal img {
    height: 260px;
  }
}
section.home-institucional div.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1250px) {
  section.home-institucional div.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1500px) {
  section.home-institucional div.grid {
    grid-template-columns: 1fr 870px;
  }
}
@media (min-width: 1250px) {
  section.home-institucional div.grid > div.grid-left {
    padding-right: 50px;
  }
}
section.home-institucional div.grid > div.grid-left div.contain-subtitulo {
  display: flex;
  flex-wrap: nowrap;
  gap: 22px;
}
section.home-institucional div.grid > div.grid-left div.contain-subtitulo > div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 3px;
}
section.home-institucional div.grid > div.grid-left div.contain-subtitulo span.subtitulo {
  display: block;
  color: #222;
  font-style: normal;
  font-weight: 300;
  font-size: 24.317px;
  line-height: 24.317px;
}
@media (min-width: 1250px) {
  section.home-institucional div.grid > div.grid-left div.contain-subtitulo span.subtitulo {
    font-size: 26.26px;
    line-height: 26.26px;
  }
}
section.home-institucional div.grid > div.grid-left div.contain-subtitulo span.subtitulo .destaque {
  display: inline;
  font-weight: 600;
}
section.home-institucional div.grid > div.grid-left span.titulo {
  display: block;
  color: #000;
  font-size: 34px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 100%;
  max-width: 500px;
  padding-top: 35px;
}
@media (min-width: 1250px) {
  section.home-institucional div.grid > div.grid-left span.titulo {
    padding-top: 40px;
  }
}
section.home-institucional div.grid > div.grid-left span.titulo .destaque {
  font-weight: 400;
}
section.home-institucional div.grid > div.grid-left span.desc {
  display: block;
  color: #222;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  padding-top: 25px;
}
@media (min-width: 1250px) {
  section.home-institucional div.grid > div.grid-left span.desc {
    font-size: 22px;
    line-height: 33px;
  }
}
section.home-institucional div.grid > div.grid-left span.desc .destaque {
  display: inline;
  font-weight: 700;
}
section.home-institucional div.grid > div.grid-left div.contain-btn {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
@media (min-width: 1250px) {
  section.home-institucional div.grid > div.grid-left div.contain-btn {
    justify-content: flex-start;
  }
}
section.home-institucional div.grid > div.grid-left div.contain-btn a {
  display: inline-block;
  padding: 16px 58px;
  background: #425545;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
section.home-institucional div.grid > div.grid-right {
  margin-top: 40px;
}
@media (min-width: 1250px) {
  section.home-institucional div.grid > div.grid-right {
    margin-top: 0;
    padding-left: 50px;
  }
}
section.home-institucional div.grid > div.grid-right button.video-modal {
  display: block;
  margin: 0 auto;
  border: none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  position: relative;
}
section.home-institucional div.grid > div.grid-right button.video-modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/website/img/global/play.svg") no-repeat center center;
}
section.home-institucional div.grid > div.grid-right button.video-modal img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 870px;
}
section.home-empreendimentos {
  padding: 130px 0 100px;
}
@media (min-width: 1200px) {
  section.home-empreendimentos {
    padding: 160px 0 140px;
  }
}
section.home-empreendimentos div.top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  section.home-empreendimentos div.top {
    gap: 190px;
    flex-direction: row;
    padding-bottom: 40px;
  }
}
section.home-empreendimentos div.top span.titulo {
  display: block;
  color: #222;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (min-width: 1200px) {
  section.home-empreendimentos div.top span.titulo {
    font-size: 38px;
    text-align: left;
  }
}
section.home-empreendimentos div.top div.contain-btns {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media (min-width: 1200px) {
  section.home-empreendimentos div.top div.contain-btns {
    justify-content: flex-start;
  }
}
section.home-empreendimentos div.top div.contain-btns button {
  display: flex;
  flex-wrap: nowrap;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 15px;
}
section.home-empreendimentos div.top div.contain-btns button div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.home-empreendimentos div.top div.contain-btns button span {
  display: block;
  color: #425545;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
@media (min-width: 450px) {
  section.home-empreendimentos div.top div.contain-btns button span {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  section.home-empreendimentos #owl-carousel-2 {
    padding: 0 10px;
  }
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > img {
  display: block;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 27px 27px 30px;
  display: flex;
  flex-direction: column;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div {
  display: flex;
  flex-direction: column;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div.top-c-card {
  height: 100%;
  justify-content: flex-start;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div.top-c-card > span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div.top-c-card > span.entrega {
  font-weight: 700;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div.top-c-card > span.bairro {
  font-weight: 400;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div.bottom-c-card {
  height: 100%;
  justify-content: flex-end;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div.bottom-c-card > span {
  display: block;
  color: #fff;
  font-style: normal;
  line-height: normal;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div.bottom-c-card > span.titulo {
  font-size: 22px;
  font-weight: 600;
}
section.home-empreendimentos #owl-carousel-2 div.item > div.card-home-inst > div.contain-card > div.bottom-c-card > span.desc {
  font-size: 14px;
  font-weight: 700;
}
section.home-empreendimentos #owl-carousel-2 .owl-dots {
  display: block !important;
}
section.home-arena {
  padding-bottom: 100px;
}
@media (min-width: 1200px) {
  section.home-arena {
    padding-bottom: 140px;
  }
}
section.home-arena div.grid-arena {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 992px) {
  section.home-arena div.grid-arena {
    grid-template-columns: repeat(2, 1fr);
  }
}
section.home-arena div.grid-arena > div.left {
  display: flex;
  justify-content: center;
  order: 2;
}
section.home-arena div.grid-arena > div.left div.contain-img {
  position: relative;
  max-width: 615px;
  padding-left: 40px;
}
@media (min-width: 768px) {
  section.home-arena div.grid-arena > div.left div.contain-img {
    padding-left: 85px;
  }
}
section.home-arena div.grid-arena > div.left div.contain-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("/website/img/home/triangulo-arena.svg") no-repeat center center;
  background-size: 80px 90px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  width: 80px;
  height: 90px;
}
@media (min-width: 768px) {
  section.home-arena div.grid-arena > div.left div.contain-img::after {
    background-size: 160px 182.5px;
    width: 160px;
    height: 182.5px;
    top: calc(50% + 20px);
  }
}
@media (min-width: 992px) {
  section.home-arena div.grid-arena > div.left div.contain-img::after {
    top: calc(50% - 20px);
  }
}
@media (min-width: 1200px) {
  section.home-arena div.grid-arena > div.left div.contain-img::after {
    top: calc(50% + 20px);
  }
}
section.home-arena div.grid-arena > div.left div.contain-img img.banner-arena {
  display: block;
  margin: 0 0 0 auto;
  width: 100%;
  max-width: 615px;
  border-radius: 50px 0px;
  height: 180px;
  object-fit: cover;
}
@media (min-width: 450px) {
  section.home-arena div.grid-arena > div.left div.contain-img img.banner-arena {
    height: 200px;
  }
}
@media (min-width: 576px) {
  section.home-arena div.grid-arena > div.left div.contain-img img.banner-arena {
    height: 240px;
  }
}
@media (min-width: 768px) {
  section.home-arena div.grid-arena > div.left div.contain-img img.banner-arena {
    height: 320px;
  }
}
@media (min-width: 992px) {
  section.home-arena div.grid-arena > div.left div.contain-img img.banner-arena {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  section.home-arena div.grid-arena > div.left div.contain-img img.banner-arena {
    height: 390px;
  }
}
section.home-arena div.grid-arena > div.right {
  padding-bottom: 55px;
}
@media (min-width: 1200px) {
  section.home-arena div.grid-arena > div.right {
    order: 2;
    padding-bottom: 0;
    padding-left: 80px;
  }
}
section.home-arena div.grid-arena > div.right > span {
  display: block;
}
section.home-arena div.grid-arena > div.right > span.subtitulo {
  color: #425545;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
}
section.home-arena div.grid-arena > div.right > span.titulo {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  section.home-arena div.grid-arena > div.right > span.titulo {
    font-size: 30px;
  }
}
section.home-arena div.grid-arena > div.right > span.desc {
  color: #222;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 50px;
}
section.home-arena div.grid-arena > div.right > div.contain-btn > a.saiba-mais {
  display: inline-block;
  text-decoration: none;
  padding: 16px 58px;
  background: #425545;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
section.home-acontece {
  background: #F9F9F8;
  padding: 40px 0 70px;
}
@media (min-width: 850px) {
  section.home-acontece {
    padding: 70px 0 100px;
  }
}
section.home-acontece span.titulo {
  display: block;
  color: #222;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 25px;
}
section.home-acontece div.grid-acontece {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding-bottom: 35px;
}
@media (min-width: 850px) {
  section.home-acontece div.grid-acontece {
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece {
  width: 100%;
  max-width: 375px;
  cursor: pointer;
}
@media (max-width: 849.9px) {
  section.home-acontece div.grid-acontece > div.item > div.card-acontece {
    margin: 0 auto;
  }
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece > div.top-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece > div.body-card {
  background: #fff;
  padding: 25px 33px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece > div.body-card > span {
  display: block;
  text-align: left;
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece > div.body-card > span.categoria {
  color: #859175;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece > div.body-card > span.titulo-card {
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece > div.body-card div.contain-btn a {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece > div.body-card div.contain-btn a span {
  display: block;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
section.home-acontece div.grid-acontece > div.item > div.card-acontece > div.body-card div.contain-btn a div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1.5px;
}
section.home-acontece div.contain-ver-todos {
  display: flex;
  justify-content: center;
}
section.home-acontece div.contain-ver-todos a.ver-todos {
  display: flex;
  flex-wrap: nowrap;
  background: none;
  text-decoration: none;
  gap: 15px;
}
section.home-acontece div.contain-ver-todos a.ver-todos div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.home-acontece div.contain-ver-todos a.ver-todos span {
  display: block;
  color: #425545;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

/*# sourceMappingURL=principal.css.map */
